.header {
  padding: 20px;
  background-color: #222;
}

.header a {
  margin: 0 20px;
  color: orange;
  text-decoration: none;
}

.header a:hover {
  color: #eee;
}

.contents {
  margin-top: 30px;
}

.signIn button {
  margin: 5px;
}

.btnList {
  margin: 20px;
}

.btnList button {
  padding: 6px 12px;
}

.headerUser {
  display: inline-flex;
  gap: 10px;
  color: #eee;
  align-items: center;
}

.btnLogout {
  padding: 6px 12px;
  background-color: transparent;
  color: #ff911c;
  border: 1px solid #ff911c;
  border-radius: 6px;
  cursor: pointer;
}

.table-list {
  margin: 16px auto;
  width: 60%;
  /* border-collapse: separate; */
  border-collapse: collapse;
}

.table-list th, td {
  border: 1px solid #ccc;
  padding: 6px;
}

.table-list thead {
  background-color: #eee;;
}

.table-list td a {
  text-decoration: none;
  color: #333;
}

.table-list tr a:hover {
  text-decoration: underline;
}

.btn-add {
  text-align: right;
  margin-right: 20%;
}

.btn-add button {
  padding: 6px 12px;
}

/* 상품 정보 스타일 */
.productDetails {
  width: 40%;
  background-color: #eee;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.productDetails p {
  margin: 16px;
}

/* 상품 등록 스타일 */
.addForm {
  width: 40%;
  margin: 20px auto;
  text-align: left;
}

.addForm label {
  display: block;
  margin: 6px;
}

.addForm input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.addForm textarea {
  resize: none;
}

.addForm button {
  padding: 8px 16px;
  background-color: #28a745;
  color: #eee;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}

/* 로그인 스타일 */
.signInForm {
  width: 30%;
  margin: 20px auto;
  text-align: left;
}

.signInForm input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signInForm textarea {
  resize: none;
}

.signInForm button {
  width: 100%;
  padding: 8px 16px;
  margin-left: 3%;
  background-color: #28a745;
  color: #eee;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}
