.header {
  padding: 20px;
  background-color: #222;
}

.header a {
  margin: 0 20px;
  color: orange;
  text-decoration: none;
}

.header a:hover {
  color: #eee;
}

.contents {
  margin-top: 30px;
}

.signIn button {
  margin: 5px;
}

.btnList {
  margin: 10px;
}

.headerUser {
  display: inline-flex;
  gap: 10px;
  color: #eee;
  align-items: center;
}

.btnLogout {
  padding: 6px 12px;
  background-color: transparent;
  color: #ff911c;
  border: 1px solid #ff911c;
  border-radius: 6px;
  cursor: pointer;
}

